.form
  = form_with model: @group do |f|
    - if @group.errors.any?
      .form__errors
        %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
        %ul
          - @group.errors.full_messages.each do |message|
            %li= message
    .field
      .fiels__label
        = f.label :name
      .field_input
        = f.text_field :name
    .field
      .field__label
        = f.label :user_ids
      .field__input
        = f.collection_check_boxes :user_ids, User.all, :id, :name
    .field
      .field__action
        = f.submit
