.chat-main
  .chat-main__group-info
    .group-box
      .group-box__left
        .group-box__left__name
          = @group.name
        %ul.group-box__left__member-ist
          Member:
          - @group.users.each do |user|
            %li.group-box__left__member-ist__member
              = user.name
      = link_to edit_group_path(@group.id), class: "group-box__edit-btn" do
        Edit
  .chat-main__message-list
    .messages
      - @messages.each do |message|
        .message
          .message__top
            .message__top__name
              = message.user.name
            .message__top__date
              = message.created_at
          .message__content
            - if message.content.present?
              %p.message__content__text
                = message.content
            = image_tag message.image.url, class: "message-box__image" if message.image.present?
  .chat-main__message-form
    = form_with model: [@group, @message] do |f|
      .form-items
        .form-items__left
          = f.text_field :content, class: "form-items__left__field", placeholder: "type a message"
          = f.label :image, class: "form-items__left__icon" do
            = icon("far", "image", class: "icon")
            = f.file_field :image
        = f.submit "Send", class: "form-items__send-btn"