.user-management-wrapper
  .left-container
    .left-container__upper
      .left-container__upper__title
        %h1 Edit Account
      .left-container__upper__about
        アカウントの編集
    .left-container__lower
      =link_to "Back", :back, class: "left-container__lower__link"
      =link_to "Home", root_path, class: "left-container__lower__link"
      =link_to "Log out", destroy_user_session_path, data: { confirm: "ログアウトします" }, method: "delete", class: "left-container__lower__link"
  .right-container
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :name, "Name"
        %br/
        = f.text_field :name, autofocus: true, autocomplete: "name"
      .field
        = f.label :email, "Eメール"
        %br/
        = f.email_field :email, autocomplete: "email"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password, "パスワード"
        - if @minimum_password_length
          %em
            (※#{@minimum_password_length} 文字以上)
        %br/
        (変更をしない場合は空欄のままにしてください)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation, "パスワード(確認用)"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .field
        %br/
        変更をするには現在のパスワードを入力してください
        %br/
        = f.label :current_password, "現在のパスワード"
        = f.password_field :current_password, autocomplete: "current-password"
        %br/
      .actions
        = f.submit "Update"
    %hr/
    .delete-field
      アカウントの削除
      =link_to "Delete", registration_path(resource_name), data: { confirm: "本当に削除しますか？" }, method: :delete, id: "delete-btn"
    %hr/